@import "medias";


$rouge: #FF6060;

.navbar a{
 color: red;
 font-size: 14px;
 text-decoration: none;
 font-family: montserrat;
}


// .test{
//     color : $rouge;
//     text-decoration: line-through;
// }