.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.Logo {
  width: 200px;
  height: 68px;
}

.header_menu {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header_liens {
  text-decoration: none;
  color: #ff6060;
  font-size: 22px;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 500;
  padding: 10px;
}

.header_menu a:hover {
  text-decoration: underline;
}
