.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.card {
  height: 340px;
  width: 340px;
  border-radius: 10px;
}

.card_visuel {
}

.card_overlay {
  background: linear-gradient(#ffffff, #000000);
}

.card_link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card_cover {
  height: 340px;
  width: 340px;
  border-radius: 10px;
}

.card_title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  z-index: 0;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
